.rodape-especial {
    text-align: left; /* ou qualquer outro alinhamento desejado */
    background-color: #171717; 
    color: #fff; /* exemplo de cor do texto */
    padding: 20px; /* exemplo de padding */
}
