.games-container h1 {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.games-container p{
    font: 1.3rem sans-serif;
}

/* Container geral dos jogos */
.games-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 20px;
}

/* Lista de jogos */
.games-list {
    display: grid;  
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    width: 100%; 
    max-width: 1200px; 
}

/* Estilo de cada item */
.game-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: auto;
    background-color: #333; 
}

/* Estilo das imagens */
.game-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transition: transform 0.3s ease; 
    border-radius: 8px;
}

/* Efeito ao passar o mouse */
.game-item:hover img {
    transform: scale(1.05); 
}

/* Estilo do link */
.game-item a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Efeito no hover do link */
.game-item a:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


  
  /* Texto do título e descrição centralizados */
  h1, h3, p {
    text-align: center; /* Centraliza o texto */
    max-width: 730px; /* Limita a largura máxima do texto */
    width: 100%;
    margin: 0 auto 10px auto; /* Centraliza e adiciona espaçamento inferior */
  }
  
  /* Centraliza as imagens das seções */
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  
  /* Estilo para as imagens */
  .game-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
    object-fit: cover; /* Mantém a imagem proporcional */
  }
  
  /* Estilo do banner com adaptação para dispositivos móveis */
  div[style*="background-image"] {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  /* Media Queries para telas menores */
  @media (max-width: 768px) {
    .page-container {
      padding: 10px; /* Menos padding em telas menores */
    }
  
    .game-image {
      max-width: 100%; /* Ajusta as imagens para ocuparem toda a largura */
    }
  
    div[style*="background-image"] {
      height: 250px; /* Reduz a altura do banner em telas menores */
    }
  
    h1, h3, p {
      font-size: 16px; /* Ajusta o tamanho da fonte em telas pequenas */
    }
  }
  