.Cabecalho header {
    background-color: #171717;
    flex: 0 0 80px; /* Altura fixa para o cabeçalho */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: row;
    justify-content: start;
    padding: 15px;
    gap: 20px;
    width: 100%;
  }



/* ISSO AQUI E PARA DAR EFEITO E COR PARA AS OPÇÕES */
  #HeaderOp a {
    color: #ffffff; 
    text-decoration: none; 
    padding: 2ch; 
}

/* Efeito de hover para os links */
#HeaderOp a:hover {
    color: rgb(153, 152, 156); 
    font-weight: bold;
  }

    /* Estilo padrão para os links */




#active-link {
    background-color: rgb(139, 44, 245);
    color:#171717;
    border-radius: 25px;
    border-color: #ffffff ;
    
}



