/* Configurações gerais */
#app {
    height: 100%;
}
  
html, body {
    position: relative;
    height: 100%;
    overflow-x: hidden; /* Evita o scroll lateral */
}
  
body {
    background-color: #171717; 
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #171717;
    margin: 0;
    padding: 0;
}
  
/* Swiper */
.swiper {
    width: 1500px; /* Define a largura para 1500 pixels */
    height: auto; 
    overflow: hidden; /* Garante que não vaze conteúdo */
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #171717;
    
    /* Centraliza texto no slide */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Garante que o slide ocupe toda a altura do swiper */
}

.swiper-slide img {
    width: auto;
    height: auto;
    object-fit: cover; /* Cobre o slide sem distorcer */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .swiper {
        width: 100%; /* Largura máxima do contêiner */
        height: auto; /* Altura automática para manter proporção */
    }
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    .swiper-slide {
        height: 150px; /* Altura reduzida para telas pequenas */
    }
}

/* Altura mínima para evitar que as imagens desapareçam */
.swiper-slide img {
    min-height: 200px;
    width: 100%;
}

