.kraken-page {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Banner */
.banner {
  text-align: center;
  color: #a260ff;
}

.banner img {
  width: 100%;
  max-width: 500px; /* Limite a largura para telas maiores */
  height: auto;
  margin-bottom: 20px;
}

/* Seções de especificações */
.specifications {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #a260ff;
}

.spec-column {
  flex: 1;
  margin: 10px;
  min-width: 150px; /* Define um tamanho mínimo para boa responsividade */
}

/* Descrição */
.description {
  text-align: center;
  margin-top: 20px;
  padding: 0 10px;
}

.description h2 {
  color: #a260ff;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .specifications {
    flex-direction: column;
    align-items: center;
  }

  .spec-column {
    width: 100%;
    text-align: center;
  }
}
