.specifications {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.spec-column {
  flex: 1;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-top: 10px;
}

.option-button {
  background-color: white;      
  border: 2px solid #8F00FF; 
  color: #171717;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease, color 0.3s ease; 
}

.option-button:hover {
  background-color: #171717;
  color: #ffffff;
}

.Logo {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 20px; 
  display: block;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;        
  justify-content: center;   
  text-align: center;         
  padding: 25px 0;            
}
  .banner h1 {
  font-size: 2rem;          
  font-weight: 50;           
  color: #ffffff;             
  margin-top: 20px;          
  line-height: 1.5;          
  max-width: 800px;          
}

.product-title {
  width: 608px;
  height: 68.08px;
  left: 56px;
  top: 2038px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  text-align: left;
  color: #FFFFFF;
  white-space: nowrap; 
  margin-top: 80px;
  margin-bottom: 0; 
  padding-bottom: 0; 
}

.separator-wrapper {
  width: 100%;  
  display: flex; 
  justify-content: center; 
  margin-top: -10px; 
}

.separator.white {
  height: 7px;  
  width: 701px;  
  background-color: #FFFFFF;
}

.separator.gray {
  height: 7px;  
  width: calc(100% - 701px);  
  background-color: #8E8E8E;  
}

.product-title .kraken {
  color: #8000FF; 
}

.title-wrapper {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 20px; 
  display: block;
  text-align: center;
}

.title-wrapper h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
  margin: 0;  
  padding: 0; 
}

.separator-wrapper {
  width: 100%;  
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
}

.separator.white {
  height: 7px;  
  width: 701px;  
  background-color: #FFFFFF;
}

.separator.gray {
  height: 7px;  
  width: calc(100% - 701px);  
  background-color: #8E8E8E;  
}

.description-text {
  width: 1806px;
  height: auto;
  left: 52px;
  top: 2136px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}