/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .cart-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
  }
  
  .cart-items {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-item {
    display: flex;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .item-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  
  p {
    font-size: 1.1rem;
    color: #FFFFFF;
  }
  
  .quantity {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .cart-summary {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
  
  .actions {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .actions button {
    background-color: #FFFFFF;
    color: #171717;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
