html, body, #root {
  background-color: #171717; 
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #171717;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}


