

html, body, #root{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  }


.Cabecalho header{
  background-color: rgb(19,16,19);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:purple;
  justify-content: space-between;
  padding: 15px;
  gap: 20px;
  width: 100%;
}

body main{
  background-color: rgb(19,16,19);
  color: white;
  flex:3;
  display: flex;
}

.Rodape{
  background-color:  gray;
  flex:1  ;
  display: flex ;

}

img{
  height: min-content;
  width: 110px;
  padding-left: 20px;
  
}

.options{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}


#search{
  padding-right: 30px;
}
#search input{
    height:2cap;
}